{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon compte{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Bonjour {{ app.user.firstname }}</h1>
    <hr>

    <p>Information personnel:</p>
    <p> {{ app.user.lastname }}</p>
    <p></p>
    <p>{{ app.user.email }}</p>

    <hr>

    <p><a href="{{ path('account_password') }}">Modifier mon mot de passe</a></p>
    <p><a href="{{ path('account_address') }}">Gêrer mes adresses</a></p>
    <p><a href="{{ path('account_order') }}">Mes commandes</a></p>

    <hr>
</div>
{% endblock %}
