{% extends 'base.html.twig' %}

{% block javascript %}
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}{{ parent() }} | Ma commande{% endblock %}

{% block content %}
    <h1>Ma commande</h1>
    <hr>

    <div class="row mt-4">
        <div class="col-md-7 col-lg-8">
            <div class="mb-3">
                <h2 class="h5">Addresse de livraison</h2>
                <div class="card">
                    <div class="card-body">
                        {{ delivery|raw }}
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h2 class="h5">Choix du transporteur</h2>
                <div class="card">
                    <div class="card-body">
                        {{ carrier.name }}<br>
                        {{ carrier.description }}<br>
                        {{ (carrier.price/100) | number_format(2,      ',', '.')  }}€<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4">
            <h2 class="h5 mt-md-0 mt-3">Récapitulatif :</h2>

            {% set total = null %}
            {% for key, product in cart %}
                {% set total = total + (product.product.price * product.quantity) %}
                <div class="card {% if key > 0 %}mt-2{% endif %}">
                    <div class="card-body p-2">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-3">
                                    <a href="{{ path('product', {slug: product.product.slug}) }}">
                                        <img class="img-fluid" height="90" src="/uploads/{{ product.product.thumbnail }}" alt="{{ product.product.name }}">
                                    </a>
                                </div>
                                <div class="col-9">
                                    <a href="{{ path('product', {slug: product.product.slug}) }}">{{ product.product.name }}</a>
                                    <p class="mb-0">{{ (product.product.price / 100) | number_format(2,      ',', '.') }}€</p>
                                    <div class="quantity">x{{ product.quantity }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="my-3">
                <strong>Sous-Total : {{ (total / 100) | number_format(2,      ',', '.') }}€</strong><br>
                <strong>Livraison : {{ (carrier.price/100) | number_format(2,      ',', '.')  }}€</strong><br>
                <strong>Total à payer: {{ ((total / 100) + (carrier.price/100)) | number_format(2,      ',', '.') }}€</strong>
            </div>

            <button id="checkout-button" class="btn btn-primary btn-block">Payer {{ ((total / 100) + (carrier.price/100)) | number_format(2,',', '.') }}€</button>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51HxtVFB2WZBAOGI3C1Uv2HkYOIDfuPXzWBHfUOi78lSrzzMYOnuMe8iRxdkGyWVZmaYTXqKFAtvDqAJA2Cbwbv7M00btX9DjYj");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if(session.error == 'order'){
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}
